snippet sputs
	# FIXME REMOVE DEBUGGING CODE
	STDERR.puts "*" * 80
	STDERR.puts ${1}
	STDERR.puts "*" * 80
snippet lputs
	# FIXME REMOVE DEBUGGING CODE
	logger.error "*" * 80
	logger.error ${1}
	logger.error "*" * 80
snippet rlputs
	# FIXME REMOVE DEBUGGING CODE
	Rails.logger.error "*" * 80
	Rails.logger.error ${1}
	Rails.logger.error "*" * 80
snippet rputs
	# FIXME REMOVE DEBUGGING CODE
	Rails.logger.error "*" * 80
	Rails.logger.error ${1}
	Rails.logger.error "*" * 80

