sourceDir = {{ .chezmoi.sourceDir | quote }}
{{ if env "GH_ENV" | not | not }}
scriptTempDir = "~/tmp"
{{ end }}

[data]
  mac = {{ eq .chezmoi.os "darwin" }}
  duncan = {{ output "sh" "-c" "scutil --get ComputerName || hostname" | trim | eq "duncan" }}
  linux = {{ eq .chezmoi.os "linux" }}
  codespaces = {{ env "CODESPACES" | not | not }}
