sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  mac = {{ eq .chezmoi.os "darwin" }}
  linux = {{ eq .chezmoi.os "linux" }}
  shared = {{ env "GH_ENV" | not | not }}
  codespaces = {{ env "CODESPACES" | not | not }}
