#!/usr/bin/env bash

set -x
set -e

{{ if .mac }}
if [[ ! $(which brew) ]]; then
  echo "installing homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "fzf"

brew "bat"
brew "pstree"
brew "pv"
brew "the_silver_searcher"
brew "rg"
brew "tree"

brew "direnv"

brew "antigen" # zsh plugins
brew "zsh-syntax-highlighting"

tap "buo/cask-upgrade"

brew "git"
brew "difftastic"
brew "diffutils" # https://github.com/golangci/golangci-lint/issues/3087
brew "jq"
brew "watch"
brew "fswatch"
brew "entr"
brew "parallel"
brew "prettyping"
brew "mtr"
brew "rename" # conflicts with linux-util on linux

brew "chezmoi"
cask "1password-cli"

brew "zsh"

brew "gh"
brew "s3cmd"
brew "kcat"

brew "go"
brew "rbenv"
brew "ruby-build"
brew "node"
brew "nodenv"
brew "flow" # for javascript
brew "shellcheck"

brew "flyctl"

cask "kap" # screen capturing
# cask "wireshark"

# for other stuff
tap "homebrew/cask-fonts"
cask "font-fira-code"
cask "font-ia-writer-duo"
cask "font-ia-writer-quattro"
cask "font-iosevka"
# cask "font-iosevka-slab"
cask "font-alegreya"
cask "font-alegreya-sans"
cask "font-alegreya-sans"
brew "svn" # seriously? lol
cask "font-merriweather"

# cask "docker"

cask "qlmarkdown" # markdown quicklook

brew "lunchy"

# applications
brew "mas"

cask "raycast"
cask "moom"
cask "hammerspoon"
cask "iterm2"
cask "1password"
cask "visual-studio-code"
cask "bartender"
cask "obsidian"
cask "istat-menus"
cask "slack"
cask "discord"

# for flashing firmware for ergodox
# tap "PX4/homebrew-px4"
# brew "dfu-util"
# brew "gcc-arm-none-eabi-54"
# brew "python3"
# brew "cmake"

# for AVR development:
# cask "crosspack-avr"
# tap "osx-cross/avr"
# brew "avr-libc" # doesn't exist anymore?
# brew "avrdude"

# brew "kubectl"
# brew "kubectx"
# brew "stern" # for tailing logs
EOF

# app store apps
mas install 1451552749  # Open In Webmail
mas install 1351639930  # Gifski
mas install 1528890965  # TextSniper
mas install 1491071483  # Tot
mas install 1547121417  # HomeControl
mas install 635758264   # Calca
mas install 1544668450  # Simplify for Gmail
mas install 1569813296  # 1Password for Safari
mas install 451640037   # Classic Color Meter
mas install 904280696   # Things
mas install 1432731683  # Adblock Plus
mas install 411643860   # DaisyDisk
mas install 290986013   # Deliveries
mas install 6444602274  # Ivory
mas install 497799835   # Xcode
mas install 1459809092  # Accelerate
mas install 1090488118  # Gemini 2
mas install 775737590   # iA Writer
# mas install 1081413713  # GIF Brewery 3
mas install 1502839586  # Hand Mirror
mas install 432027450   # RadarScope
mas install 1666139593  # Homecoming for Mastodon
mas install 1640236961  # Save to Reader
mas install 1421915518  # PiPer
mas install 419330170   # Moom

/opt/homebrew/opt/fzf/install --no-update-rc --key-bindings --completion --xdg

# latest version
latest=$(rbenv install -l 2>/dev/null | grep -E '^\d' | grep -v '-' | tail -1)
if rbenv versions | grep -q $latest; then
  echo "ruby $latest already installed, skipping"
else
  echo "installing latest ruby: $latest"
  rbenv install "$latest"
  rbenv global "$latest"
fi

eval "$(rbenv init - zsh)"

# for local scripts
gem install bubs
gem install colorize

# for vscode
gem install solargraph
gem install rubocop
gem install ruby-debug-ide

gh auth status || gh auth login
gh md 2>/dev/null || gh extension install zerowidth/gh-md

[[ -d ~/.ssh ]] || ln -s ~/.ssh {{ .chezmoi.homeDir }}/Documents/sync/ssh
{{ end }}

{{ if .linux }}
[[ -d ~/.local/share/fzf ]] || git clone --depth 1 https://github.com/junegunn/fzf.git ~/.local/share/fzf
~/.local/share/fzf/install --no-update-rc --key-bindings --completion --xdg

{{ if .shared }}
if ! [[ -f ~/.local/bin/kcat ]]; then
  git clone https://github.com/edenhill/kcat ~/.local/share/kcat
  cd ~/.local/share/kcat && ./bootstrap.sh
  cp ~/.local/share/kcat/kcat ~/.local/bin/kcat
fi

if [ -d ~/.vim/plugins ]; then
  echo "vim plugins already installed, skipping"
 else
  vim --not-a-term +PlugInstall +qa
fi
{{ else }}

if ! type bat >/dev/null; then
  curl -s -L https://github.com/sharkdp/bat/releases/download/v0.20.0/bat_0.20.0_amd64.deb -o /tmp/bat.deb && \
    sudo dpkg -i /tmp/bat.deb
fi
sudo apt-get install -y \
  zsh zsh-syntax-highlighting \
  silversearcher-ag \
  ripgrep

{{ end -}}

if [[ -n "$(grep $(whoami) /etc/passwd)" ]] && ! grep -q "$(whoami).*/bin/zsh" /etc/passwd; then
  sudo chsh -s /bin/zsh $(whoami)
fi
{{ end }}
