#!/usr/bin/env bash

set -x
set -e

{{ if .mac }}
if [[ ! $(which brew) ]]; then
  echo "installing homebrew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew bundle --file=- <<EOF
brew "fzf"

brew "bat"
brew "pstree"
brew "pv"
brew "rg"
brew "tree"

brew "direnv"

brew "antigen" # zsh plugins
brew "zsh-syntax-highlighting"

tap "buo/cask-upgrade"
brew "nao1215/tap/gup"

brew "git"
brew "difftastic"
brew "jq"
brew "yq"
brew "watch"
brew "fswatch"
brew "entr"
brew "parallel"
brew "prettyping"
brew "mtr"
brew "rename" # conflicts with linux-util on linux

brew "chezmoi"

brew "zsh"

brew "gh"
brew "s3cmd"
brew "kcat"

brew "go"
brew "ruby"
brew "rbenv"
brew "node"
brew "nodenv"
brew "flow" # for javascript typechecking
brew "shellcheck"

brew "rust"
brew "cargo-binstall"

brew "flyctl"

cask "kap" # screen capturing
# cask "wireshark-app"

# for other stuff
cask "font-ia-writer-quattro"
cask "font-merriweather"
cask "font-bricolage-grotesque"
cask "font-inter"

cask "docker-desktop"

cask "qlmarkdown" # markdown quicklook

brew "lunchy"

# applications
brew "mas"

cask "arq"
cask "raycast"
cask "hammerspoon"
cask "iterm2"
cask "1password"
cask "1password-cli"
cask "visual-studio-code"
cask "obsidian"
cask "istat-menus"
cask "slack"
cask "discord"
cask "google-chrome"
cask "moom"
cask "jordanbaird-ice"
EOF

# app store apps
mas install 1440147259  # AdGuard for Safari
mas install 1451552749  # Open In Webmail
mas install 1351639930  # Gifski
mas install 1528890965  # TextSniper
mas install 1491071483  # Tot
mas install 1547121417  # HomeControl
mas install 1544668450  # Simplify for Gmail
mas install 1569813296  # 1Password for Safari
mas install 451640037   # Classic Color Meter
mas install 411643860   # DaisyDisk
mas install 497799835   # Xcode
mas install 1459809092  # Accelerate
mas install 775737590   # iA Writer
mas install 1640236961  # Save to Reader
mas install 1475387142  # Tailscale
{{ if .duncan }}
mas install 639968404   # Parcel
mas install 6444602274  # Ivory
mas install 1666139593  # Homecoming for Mastodon
mas install 1090488118  # Gemini 2
mas install 1529448980  # Reeder
mas install 6478481082  # openterface
{{ end }}

/opt/homebrew/opt/fzf/install --no-update-rc --key-bindings --completion --xdg

set +e # this fails sometimes?
eval "$(rbenv init - zsh)"
set -e
# set ruby to the latest version
brew rbenv-sync -v
latest=$(rbenv install -l 2>/dev/null | grep -E '^\d' | grep -v '-' | tail -1)
if rbenv versions | grep -q $latest; then
  echo "ruby $latest already set as default, skipping"
else
  echo "setting latest ruby $latest as global default"
  rbenv global "$latest"
fi

# for local scripts
gem install bubs --conservative
gem install colorize --conservative

# for vscode
gem install solargraph --conservative
gem install rubocop --conservative

gh auth status || gh auth login
gh md >/dev/null 2>&1 || gh extension install zerowidth/gh-md
gh extension install rneatherway/gh-slack

[[ -L ~/.ssh ]] || ln -s {{ .chezmoi.homeDir }}/Documents/sync/ssh ~/.ssh
{{ end }}

{{ if .linux }}
[[ -d ~/.local/share/fzf ]] || git clone --depth 1 https://github.com/junegunn/fzf.git ~/.local/share/fzf
~/.local/share/fzf/install --no-update-rc --key-bindings --completion --xdg

{{ if .shared }}
if ! [[ -f ~/.local/bin/kcat ]]; then
  git clone https://github.com/edenhill/kcat ~/.local/share/kcat
  cd ~/.local/share/kcat && ./bootstrap.sh
  cp ~/.local/share/kcat/kcat ~/.local/bin/kcat
fi

if [ -d ~/.vim/plugins ]; then
  echo "vim plugins already installed, skipping"
 else
  vim --not-a-term +PlugInstall +qa
fi
{{ else }}

if ! command -v zsh >/dev/null 2>&1; then
  sudo apt-get update
  sudo apt-get install -y zsh
fi

sudo apt-get install -y \
  shellcheck \
  bat \
  ripgrep
{{ end -}}

if [[ -n "$(grep $(whoami) /etc/passwd)" ]] && ! grep -q "$(whoami).*/bin/zsh" /etc/passwd; then
  sudo chsh -s /bin/zsh $(whoami)
fi
{{ end }}
